.security-threats {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  background: linear-gradient(to right, rgba(227, 201, 231, 0.6) 0%, #050b24 45%, #0c1747 100%);
  background-size: cover;
  transition: background 0.5s ease;
  color: white;
  overflow: hidden;
  margin: 0;
  width: 100%;
  min-height: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.security-threats::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 60px;
  height: 100%;
  background: radial-gradient(circle at top right, rgba(12, 23, 71, 0.6) 10%, transparent 70%);
  z-index: -1;
}
.security-image {
  flex: 1;
  max-width: 50%;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.security-image .imagendos {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s; /* Transición para suavizar el efecto hover */
}
.security-image:hover .imagendos {
  opacity: 0.8; /* Reduce la opacidad al 80% en el hover */
}
.security-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 44%; 
  margin-left: 0; 
  text-align: left;
}


.parrafo {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10px;
}

.security-content .title {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.titleimpact{
  font-size: 20px;
}

.parrafoimpact{
  font-size: 15px;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.statistic {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.statistic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sticker {
  background-color: #ff6f61;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.statistics h3 {
  font-size: 24px;
}

.statistics p {
  font-size: 18px;
  margin-bottom: 0;
}


/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .security-threats {
    padding: 10px; /* Espaciado en dispositivos móviles */
    flex-direction: column; /* Cambia la dirección de flex a columna en dispositivos móviles */
    text-align: center; /* Centra el texto en dispositivos móviles */
  }

  .security-image {
    max-width: 70%; /* Ajusta el ancho máximo de la imagen en dispositivos móviles */
    margin: 10px auto; /* Centra la imagen horizontalmente y ajusta el margen superior en dispositivos móviles */
    order: 2; /* Cambia el orden para que la imagen esté debajo en dispositivos móviles */
  }

  .security-image .imagendos {
    opacity: 1; /* Restablece la opacidad en dispositivos móviles */
  }

  .security-content {
    max-width: 100%; /* Ajusta el ancho máximo del contenido en dispositivos móviles */
    margin: 20px 0; /* Ajusta el margen del contenido en dispositivos móviles */
    text-align: center; /* Centra el texto en dispositivos móviles */
    align-items: center; /* Centra los elementos secundarios verticalmente en dispositivos móviles */
  }

  .statistics {
    flex-direction: column; /* Cambia la dirección de flex a columna en dispositivos móviles */
    gap: 10px; /* Ajusta el espacio entre estadísticas en dispositivos móviles */
  }

  .statistic {
    max-width: 100%; /* Ajusta el ancho máximo de las estadísticas en dispositivos móviles */
  }
}





