
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background: linear-gradient(to right, rgba(227, 201, 231, 0.6) 0%, #050b24 45%, #0c1747 100%), url('./background.jpg');
  background-size: cover;
  position: relative;
  transition: background 0.5s ease;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
  margin-left: 20px; 
}

/* Estilos para el efecto circular difuminado */
.partners-contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 60px;
  height: 100%;
  background: radial-gradient(circle at top right, rgba(12, 23, 71, 0.6) 10%, transparent 70%);
}

.left-content {
  flex: 1;
  margin-left: 15px;
}

.right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.small-title {
  font-size: 15px;
  margin-bottom: 20px;
  color: #0056b3;
  margin-right: 23px;
}

.large-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.credit-card-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas de crédito horizontalmente */
  align-items: center; /* Alinea las tarjetas de crédito verticalmente */
  margin-top: 20px;
  margin-right: 40px;
}

.credit-card-icons img {
  width: 100px; /* Ajusta el ancho de las tarjetas de crédito según tus necesidades */
  margin: 10px;
}

.contact-form {
  max-width: 400px; /* Ancho máximo del formulario */
}

/* Estilos para el formulario */
.contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-form h2 {
  font-size: 28px; /* Tamaño del título */
  margin-bottom: 20px;
}

.contact-form .form-group {
  margin-bottom: 10px;
}

.contact-form label {
  font-size: 16px; /* Ajusta el tamaño de las etiquetas */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="submit"],
.contact-form textarea {
  width: 100%; /* Establece el ancho de los campos y el botón al 100% del contenedor */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
}

.contact-form textarea {
  resize: vertical; /* Permite que el área de texto sea redimensionable verticalmente */
}

.contact-form input[type="submit"] {
  background-color: #007bff; 
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #0056b3; /* Cambia el color del botón al pasar el cursor por encima */
}

.form{
  justify-content: center;
}

.partners-contact-section .left-content .description-partners{
  margin-left: 20px;
}


/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column; /* Cambia la dirección de la columna en dispositivos móviles */
    align-items: center; /* Centra el contenido verticalmente en dispositivos móviles */
  }

  .content {
    text-align: center; /* Centra el contenido horizontalmente en dispositivos móviles */
  }

  .small-title {
    font-size: 1rem; /* Tamaño de fuente más pequeño en dispositivos móviles */
    margin-bottom: 10px; /* Reduce el margen inferior en dispositivos móviles */
  }

  .large-title {
    font-size: 2rem; /* Tamaño de fuente más grande en dispositivos móviles */
    margin-bottom: 10px; /* Reduce el margen inferior en dispositivos móviles */
  }

  .description-partners {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño en dispositivos móviles */
    margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
    text-align: center; /* Centra el texto horizontalmente en dispositivos móviles */
  }

  .credit-card-icons {
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
  }

  .credit-card-icons img {
    width: 80px; /* Ajusta el ancho de las tarjetas de crédito según tus necesidades */
    margin: 10px;
  }
}